
:root {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
  }
  
  body,
  html {
    height: 100%;
    margin: 0px;
  }
  
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  body {
    padding-top: 100px;
  }
  
  
  /* Start of the Webpage */
  h1 {
    color: #d8b81a;
    margin-top: 14rem;
    font-size: 7rem;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  section > p {
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
  }
  
  h2 {
    font-weight: normal;
    font-size: 1.25rem;
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  
  /* Lessons */
  #LessonWeb{
    margin-left: 17rem;
    font-size: 2rem;
    color: black;
    font-weight: bold;
  }
  
  
  .span{
    display: block;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 40px;
    max-height: 1000px;
    padding-right: 40px;
    overflow: auto;
  }
  
  .APES_unit_title{
    font-size: 2rem;
  }
  
  .page_text{
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    line-height: 2;
  }
  
  .page_texts{
    line-height: 2;
    margin-bottom: 1.25rem;
  }
  
  .grid-list{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; 
    grid-template-rows: 100%;
    width: 80%;
    height: 15rem;
  }
  
  .APES_unit_list{
    line-height: 1.5;
    margin-left: 50px;
    list-style-type: disc;
  }
  
  .sub_list{
    list-style-type: circle;
    margin-left: 50px;
  }
  
  
  .next_button{
    color: white;
    text-decoration: none;
    padding: 20px;
    background: #43a047;
    border-radius: 30px;
    float: right;
  }
  
  img{
    margin-bottom: 5rem;
    max-width:50%;
    max-height:50%
  }
  
  .img_source{
    color: grey;
    margin-bottom: 2rem;
  }
  
  r{
   color: #ff0000; 
  }

  .opacity{
      opacity : 0;
      cursor: default;
  }